<footer class="footer">
    <div class="footer-container">
        <div class="footer-top">
            <div class="footer-logo-section">
                <img src="../images/mtgfooter.png" alt="Magic The Gathering" class="footer-logo-image" id="footer-logo-img">
            </div>
            <div class="footer-nav-columns">
                <div class="footer-nav-column">
                    <h4 class="footer-nav-heading">Information</h4>
                    <ul class="footer-nav-list">
                        <li><a href="pages/kontakta-oss.html" class="footer-nav-link">Karta / Hitta oss</a></li>
                        <li><a href="pages/kontakta-oss.html" class="footer-nav-link">Kontakta oss</a></li>
                        <li><a href="#" class="footer-nav-link">Beställningsvilkor</a></li>
                        <li><a href="pages/leveransinfo.html" class="footer-nav-link">Fraktkostnader</a></li>
                        <li><a href="#" class="footer-nav-link">FNM & Turneringar</a></li>
                        <li><a href="#" class="footer-nav-link">Marknader 2025</a></li>
                        <li><a href="pages/skickgraderingar.html" class="footer-nav-link">Skickgraderingar</a></li>
                    </ul>
                </div>
                <div class="footer-nav-column">
                    <h4 class="footer-nav-heading">Övrigt</h4>
                    <ul class="footer-nav-list">
                        <li><a href="#" class="footer-nav-link">Översiktskarta</a></li>
                    </ul>
                </div>
                <div class="footer-nav-column">
                    <h4 class="footer-nav-heading">Ditt konto</h4>
                    <ul class="footer-nav-list">
                        <li><a href="#" class="footer-nav-link">Ditt konto</a></li>
                        <li><a href="#" class="footer-nav-link">Orderhistorik</a></li>
                        <li><a href="#" class="footer-nav-link">Nyhetsbrev</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
